@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@100;200;300;400;500;600;700;800;900&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat Alternates", sans-serif;
}
.content-grid {
  width: 100vw;
  background: linear-gradient(181.09deg, #1b3051 2.02%, #272939 104.92%);
  height: 100vh;
  position: fixed;
  z-index: 1;
}
html {
  overflow-x: hidden;
}
.grid-all {
  display: grid;
  grid-template-columns: 380px auto;
}
@media (max-width: 1000px) {
  .grid-all {
    grid-template-columns: auto;
  }
}
button,
a {
  cursor: pointer;
  outline: none;
}
